.app {
    margin-top: 65px;
    font-family: 'Cinzel', serif;
    display: flex;
    justify-items: center;
    flex-direction: column;
    min-height: calc(100vh - 130px);
    background-image: linear-gradient(to bottom, #f0f2f8, #f2f3f8, #f3f4f8, #f5f5f8, #f6f6f8, #f6f6f7, #f6f6f7, #f6f6f6, #f4f5f4, #f3f3f3, #f1f2f1, #f0f0f0);
}