.app {
    min-height: 100vh;
    font-family: 'Cinzel', serif;
    min-width: 100vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
    font-size: calc(.2vw + .2vh + .8vmin);
}

