.checkout_title {
  margin-bottom: 30px;
  margin-top: 15vh;
  color: aliceblue;
}


.checkout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: fixed;
}

.checkout_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: rgba(255, 255, 255, 0.726) 1px solid;
  width: 90%;
  max-height: 55vh;
  overflow-y: scroll;
  background-color: #ffffffc9;
}

.checkout_left::-webkit-scrollbar {
  display: none;
}

.checkout_right {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2%;
  color: aliceblue;

}

.checkoutProduct_price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
