.img_slider {
width: 90vw;
height: 60vh;
border: rgba(240, 248, 255, 0.719) 1px solid;
box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);

}

.slider {
  display: flex;
  
  position: relative;
 height: 100%;
 width: 100%;
  }

.slide_container {
  display: flex;
  justify-content: center;
width: 100%;
height:100%;
position: absolute;
}

.slider_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 

}
.image {
  height: 60vh;
  width: 90vw;
  position: absolute;

}

.left-arrow {
background-color: rgba(255, 255, 255, 0);
border: none;
z-index: 2;
position: absolute;
left: 0;
height: 100%;
padding-left: 1em;
padding-right: 2em;

}

.left-arrow:hover {
  background-color: rgba(155, 155, 155, 0.24);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.24);
}

.right-arrow {
background-color: rgba(255, 255, 255, 0);
border: none;
z-index: 2;
position:absolute;
right: 0;
height: 100%;
padding-left: 2em;
}

.right-arrow:hover {
  background-color: rgba(155, 155, 155, 0.24);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.24);
}

.arrow_icon {
  transform: scale(1.3em)!important;
  color: black;
}

.slide {
 
}

.slide.active {
  transition: cubic-bezier(0.52, -0.6, 0, 0.1);
  transition-duration: 0.5s;
  opacity: 1;
}

.slider_dots {
  display: flex;
  z-index: 3;
  position: absolute;
  bottom: 1em;
  width: 5em;
  min-width: 180px;
  justify-content: space-around;
}

.button {
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.308);
  border: 2px solid rgba(0, 0, 0, 0.596);
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.63);
}

.button.active {
  background-color: rgba(0, 0, 0, 0.856);
}