.payment {
    max-height: 65vh;
    width: 90%;
    margin: 2em 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.123);
    padding: 2em 0;
}

.payment_container > h1 {
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

.payment_container > h1 a {
    text-decoration: none;
    color: aliceblue;
}

.payment_section {
    display: flex;
    padding:20px;
    width: 90%;
    margin: 0px 20px;
    border-top: .5px solid rgb(255, 255, 255);
    border-bottom: .5px solid white;
    color: aliceblue;
}
.payment_section2 {
    height: 35vh;
    display: flex;
    padding:20px;
    width: 90%;
    margin: 0px 20px;
    border-top: .5px solid rgb(255, 255, 255);
    border-bottom: .5px solid white;
    color: aliceblue;
}

.payment_title {
    flex: 0.35;
}

.payment_adress {
    flex: 0.5;
    text-align: center;
}

.payment_items {
flex: .7;
color: black;
overflow: scroll;
}

.payment_items::-webkit-scrollbar {
    display: none;
  }
  

.payment_details {
flex: .65;
color: black;

}

.form {
    background-color: rgba(255, 255, 255, 0.911);
    box-shadow: 0 0 2px 2.4px black;
    padding: 10px;
}

