.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0);
  height: 200px;
  width: 300px;
}

.product_price {
  display: flex;
  align-items: center;
  margin: 5px;
}

.Product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basketbtn {
  display: flex;
  justify-content: center;
  background-color: rgba(194, 181, 165, 0.671);
  width: 100%;
  padding: 5px 10px;
}
