.x-block {
  width: 100%;
  height: 100% !important;
}

.carousel-item {
  height: 100% !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  height: 100% !important;
}
