.store_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow:row;
    margin: 2em 0;
}

@media (max-width: 1000px) {
    .store_grid {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 760px) {
    .store_grid {
      grid-template-columns: 1fr ;
    }
  }